@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 1%;
}

.text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: rgba(110, 121, 140, 1);
}

.title_container {
  justify-content: start;
  width: 312px;
  height: 25px;
}

.text_container {
  display: flex;
  justify-content: start;
  width: 312px;
  height: 75px;
}
