.food_card_image {
  width: 360px;
  height: 216px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.food_card {
  display: flex;
  width: 360px;
  height: 528px;
  border-radius: 16px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.order_container {
  width: 312px;
  height: 45px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
