.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 216px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: relative;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  top: 16px;
  left: 304px;
  opacity: 1;
  background-color: white;
  position: absolute;
}

.circle img {
  width: 7.953090667724609px;
  height: 18px;
}
